
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css');

*, *::before ,*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font: 10px/1.5 "Lato", sans-serif;
}

@media (min-width: 600px) {
    html { font-size: 11px; }
}

@media (min-width: 800px) {
    html { font-size: 12px; }
}

@media (min-width: 1200px) {
    html { font-size: 16px; }
}

body, input, button, textarea, table, address, th, td {
    font: inherit;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1),
     rgba(0, 0, 0, 0.2)), url('images/background-default.webp')
    no-repeat fixed center;
    background-size: cover;
    color: #fff;
    transition: background-image 0.5s ease-in-out;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 1em;
    margin-bottom: 0.5em;
    font-weight: normal;
}

h1 {font-size: 2.8em;}
h2 {font-size: 2.2em;}
h3 {font-size: 1.8em;}
h4 {font-size: 1.4em;}
h5 {font-size: 1.2em;}
h6 {font-size: 1em;}


a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

.container {
    max-width: 1200px;
    margin: 5.5em auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-shadow: 1px 1px 1px black,
    0 0 0.12em #fff,
    0 0 0.12em #fff;
    transition: opacity 0.3s ease-in-out;
}
.container h1 {
    font-size: 4.8em;
    font-weight: 700;
    letter-spacing: -1.5px;
    margin-bottom: 0.2em;
    
}

form {
    position: relative;
    display: flex;
    width: 100%;
    margin-bottom: 4em;
}
form #cityInput {
    flex: 0 0 100%;
    padding: 0.1em 0 0.1em 0.9em;
    font-size: 2.8em;
    font-weight: 600;
    letter-spacing: -1px;
    border-radius: 0.5em;
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    outline: none;
}

form #cityInput::placeholder {
    opacity: 0.4;
    color: #fff;
}
form #searchButton {
    position: absolute;
    top: 2%;
    left: 92%;
    font-size: 2.7em;
    border: none;
    background-color: transparent;
    color: #fff;
    padding: 0.1em 0.6em;
}
form #searchButton:hover {
    cursor: pointer;
    color: #066dad;
    text-shadow: 2px 2px 3px #000;
}

.result-container {
    display: flex;
    flex-direction: column;
    /* font-size: x-large; */
    font-size: 1.5em;
}

.head-info {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 3em;
}
.head-info .weather-image {
    flex: 0 0 23%;
    text-align: center;
    font-size: 2em;
}

.name-container,
.degrees-container {
    position: relative;
    display: flex;
    align-items: baseline;
}

.city-name-degrees {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 2em;
}
.city-name-degrees h3 {
    font-size: 3em;
    font-weight: 600;
    text-align: center;
}
.city-name-degrees .fa-location-arrow {
    font-size: 2em;
    margin-right: 0.3em;
}
.city-name-degrees p {
    font-size: 6em;
    font-weight: 800;
    line-height: 0.8em;
}

.city-name-degrees p::after {
    position: absolute;
    content: '';
    border: 0.11em solid #fff;
    padding: 0.5rem;
    border-radius: 50%;
    top: 0;
    left: 110%;
}

.additional-info {
    display: flex;
    justify-content: center;
    margin-top: 4em;
}

.info-container {
    background: linear-gradient(rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.3));
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    gap: 1.5em;
    font-size: 3em;
    padding: 0.5em 1.7em;
    border-radius: 0.3em;
}

.info-container .text {
    font-size: 0.65em;
}

.data {
    text-align: center;
}

.feels-like {
    position: relative;
}
.feels-like p:nth-child(1) {
    margin-bottom: 0.34em;
    line-height: 1.4em;
}
.feels-like p:nth-child(1)::after {
    position: absolute;
    content: '';
    border: 0.1em solid #fff;
    padding: 0.2rem;
    border-radius: 50%;
    top: 0.3em;
    left: 2.05em;
    opacity: 1;

}

.info-container .fa-solid {
    font-size: 0.7em;
    margin-left: 0.3em;
}



/* ================================= */

.buttons-container {
    display: flex;
    justify-content: center;
}
.buttons-container .btn {
    flex: 0 0 35%;
    background-color: #00000041;
    border: none;
    color: #fff;
    padding: 0.5em 0;
    font-weight: 600;

}
.buttons-container .btn:hover {
    cursor: pointer;
    background: #bababa7a;
    color: #066dad;
}
.buttons-container .btn:focus {
    background: #0000007a;
    color: #fff;
    cursor: initial;
    outline: none;
} 
.buttons-container .active {
    background-color: #0000007a;
}

.day-btn {
    border-top-left-radius: 0.4em;
    border-bottom-left-radius: 0.4em;
}
.week-btn {
    border-top-right-radius: 0.4em;
    border-bottom-right-radius: 0.4em;
}

.five-days {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 0.5em;
    margin-top: 3em;
}
.day {
    background: #0000008f;
    width: 17%;
    padding: 1em 0;
}
.day h3 {
    font-size: 1.4em;
}
.day .temp-data .degrees {
    font-size: 1.4em;
}
.five-days .day1 {
    border-top-left-radius: 0.3em;
    border-bottom-left-radius: 0.3em;
    overflow: hidden;
}
.five-days .day5 {
    border-top-right-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
    overflow: hidden;
}
.image-icon-content {
    display: flex;
    justify-content: center;
}
.image-icon-content img {
    width: 80%;
}
.temp-data {
    display: flex;
    justify-content: center;
    gap: 0.7em;
    position: relative;
}
.temp-data p:after {
    position: absolute;
    content: '';
    border: 0.11em solid #fff;
    padding: 0.1rem;
    border-radius: 50%;
    top: 17%;
}

.temp-data span {
    font-size: 1.29em;
}
.date-time-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-bottom: 2.2em;
    
}

.date-time {
    color: white;
    padding: 20px 105px;
    border-radius: 12px;
    font-size: 2.25em; 
    font-weight: bold;
    text-align: center;
    background-color: #00000041;
}